<div class="container">
        <p class="text-center "><a routerLink='/admin/products/new' class="btn  btn-primary w-50">New Products</a> </p> 

    <p>
<input type="text"
class="form-control"
placeholder="Search ....."
#query
(keyup)="filter(query.value)"
>

    </p>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class=" table row-border hover">
            <thead class="thead-dark"> 
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredProducts" > 
            <td scope="row">{{product.payload.val().title}}</td>
            <td>{{product.payload.val().price}}</td>
            <td> 
                <a [routerLink]= "['/admin/products/' , product.key ]">Edit</a>
            </td>
        </tr>
 
    </tbody>
</table>

</div>